<ion-view view-title="Home">
    <ion-content class="content-positive">
        <div id="market-content">   <!-- Put stuff inside this to change the content of the market tab! -->
            <h3>Market Stuff!</h3>
        </div>
        <div id="sets-content">   <!-- Put stuff inside this to change the content of the sets tab! -->
            <h3>Sets Stuff!</h3>
        </div> 
    </ion-content>
    <div id="home-dropdown">
        <ul>
            <li id="button1">
               <a href="#"><span><i class="ion-bag"></i></span><span>Marketplace</span></a>
            </li><!-- This comment is important to ensure no whitespace between buttons! Don't remove
            --><li id="button2">
                <a href="#"><span><i class="ion-person"></i></span><span>My Sets</span></a>
            </li><!-- Same as above
            --><li id="button3">
                <a href="#"><span><i class="ion-plus-round"></i></span><span>Create</span></a>
                <ul id="button3list">
                    <li><a href="#" id="option1"><span>From Gallery</span></a></li>
                    <li><a href="#" id="option2"><span>Take Photo</span></a></li>
                    <li><a href="#/modify" id="option3" ng-click="setToDefaultPhoto()"><span>Default (debug)</span></a></li>
                    <ul></ul>
                </ul>
            </li>  
        </ul>
    </div> 
</ion-view>

