<ion-view view-title="Home">
    <ion-content class="content-positive">
    <!--
        TO BE ADDED: Log-in system, recent sets, news from market and maybe twitter, etc 
        ALSO: fix forward/back buttons on other pages
    -->
    </ion-content>
    <ul class="home-footer">
        <li class="home-footer"><a class="home-footer" style="float:right;" href="#"><i class="ion-bag"></i><br>Marketplace</a></li>
        <li class="home-footer"><a class="home-footer" style="float:center;" href="#"><i class="ion-person"></i><br>My Sets</a></li>
        <li class="home-footer"><a class="home-footer" style="float:left;" href="#/photo"><i class="icon ion-plus-round"></i><br>Create</a></li>
    </ul>
</ion-view>
