/* Empty. Add your own CSS if you like */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Styling for ionic headers on all pages*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.bar.bar-coverupOrange {
    border-color: #FFFFFF;
    background-color: #F79522;
    background-image: linear-gradient(0deg, #FFFFFF, #FFFFFF 50%, transparent 50%);
    color: #FFFFFF; 
}
.bar.bar-coverupOrange.title {
    color: #FFFFFF; 
}
.bar.bar-coverupOrange.footer {
    background-image: linear-gradient(180deg, #FFFFFF, #FFFFFF 50%, transparent 50%);
}
        
.button.button-coverupOrange {
    border-color: transparent;
    background-color: #F79522;
    color: #FFFFFF; 
}
.button.button-coverupOrange:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.button.button-coverupOrange.active, .button.button-coverupOrange.activated {
    background-color: #F79522;
}
.button.button-coverupOrange.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 17px; 
}
.button.button-coverupOrange.button-bold {
    font-weight: 400; /*To match the font weight of the 'Ready!' button font with the back button font (hardly noticeable, but there is a slight difference)*/
} 
.button.button-coverupOrange.button-icon {
    border-color: transparent;
    background: none; }
    
.button.ion-ios-arrow-forward:before {
    font-size: 25px !important; /*Resize arrow in Ready! button*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Styling for 'Create' button drop down menu on home page (webapp only)*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#home-dropdown {
    position: fixed;   /*~~Positioning*/
    height: 80px;
    width: 100%;
    bottom: 0;
    text-align: center;

    font-size: 15px;   /*~~Styling*/
    background-color: #F79522;
}
#home-dropdown ul {
    position: relative;   /*~~Positioning*/
    margin: 0;
    padding: 0;   
    text-align: center;
}
#home-dropdown a {
    margin: 0;   /*~~Positioning*/
    
    text-decoration: none;   /*~~Styling*/
}
#home-dropdown li {
    margin: 0   /*~~Positioning*/
    padding: 0;  
    
    cursor: pointer;   /*~~Styling*/
}
#home-dropdown > ul > li {
    position: relative;   /*~~Positioning*/
    display: inline-block;
    padding: 12px 0px;
    vertical-align: top;
    line-height: 30px;
    text-align: center;
    width: 100px;
    
}
#home-dropdown > ul > li span {
    display: block;
}

#home-dropdown > ul > li > a {
    color: rgb(250, 250, 250);   /*~~Styling*/
    
    -webkit-transition: color .15s;   /*~~Animations*/
    -moz-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;
}
#home-dropdown > ul > li > ul {
    opacity: 0;   /*~~This makes menu hidden until further overriden (moused over)*/
    visibility: hidden;
    
    position: absolute;   /*~~Positioning*/
    padding: 0;
    margin-left: -300%;
    left: 50%;
    bottom: 55px; /*See comment in next class*/
    width: 400%;
    height: 100px;
    text-align: center;

    background-color: #CCCCCC;  /*~~Styling*/
    font-size: 15px;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);

    -webkit-transition: all .25s;   /*~~Animations*/
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
#home-dropdown > ul > li > ul:before {  /*This adds the small arrow on the bottom of the dropdown menu*/
    position: absolute;   /*~~Positioning*/
    display: block;
    bottom: -20px;
    left: 75%;
    margin-left: -10px;
    
    content:"";   /*~~Styling*/
    border-color: rgb(250, 250, 250) transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
}
#home-dropdown > ul ul > li a {
    position: relative;
    float: left;
    width: 33.3333%;
    height: 100%;
    padding: 0;
}

#home-dropdown ul ul a {
    display: block;
    color: rgb(50, 50, 50);   /*~~Styling*/
    background-color: rgb(250, 250, 250);
    line-height: 100px;
    
    -webkit-transition: background-color .25s;   /*~~Animations*/
    -moz-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}
#option1 {
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
#option3 {
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

#option1:before, #option2:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    border-right: .5px solid #F79522;
}
#option3:before, #option2:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    border-left: .5px solid #F79522;
}

.toggle-home-btn, .toggle-home-btn > a > span {   /*This class gets toggled when a button is hovered over / clicked*/
    -webkit-transition: all .25s;   /*~~Animations*/
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.toggle-home-btn {
    background-color: rgb(250, 250, 250);   /*~~Styling*/
}
.toggle-home-btn > a > span {
    color: #F79522;   /*~~More Styling*/
}
.toggle-home-btn #button3list { /*Why isn't it possible to do ".toggle-home-btn > ul {"? Which should really do the same thing? I have no idea either. Very strange bugs.*/
    opacity: 1;
    visibility: visible; /*This class only makes the dropdown menu visible, which has already been built but is invisible to the user*/
    bottom: 75px;   
}

/*~~~~~~~~~~~~~~~~*/
/*Some specific home button styling for mobile*/
/*~~~~~~~~~~~~~~~~*/

#button1 {
    position: relative;
    padding-right: 15px;
}
#button2 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
#button3 {
    position: relative;
    padding-left: 15px;
}
#button1:before, #button2:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    border-right: .5px solid #FFFFFF;
}
#button3:before, #button2:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    border-left: .5px solid #FFFFFF;
}
/*~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~*/

.ion-ios-circle-filled:before {
   font-size: 32px !important;
}


.popover { 
margin-left:0px !important;
margin-top:-10px !important;
}

.modPop{
    background-color: rgb(240,240,240);
    border-radius:3px;
    width: 175px;
    position:absolute;
    left: -12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}
.modPop:before { /*Small arrow above dropdown menu*/
    position: absolute;
    display: block;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    
    content:"";
    border-color: transparent transparent rgb(250, 250, 250)  transparent;
    border-style: solid;
    border-width: 10px;
}
.modPop input[type=text] {
    background: rgb(235,235,235);
    border-radius: 3px;
    border-left: 4px solid rgb(235,235,235);
    width: 175px;
    
    transition: border-left 0.25s;
}
.modPop input[type=text]:focus {
    border-left: 4px solid #F79522
}
.fakePop {
    background-color:white; 
    position:absolute; 
    top:35px; 
    right:-70px; 
    min-height:40px;
    border-radius:3px; 
    min-width:180px; 
    max-width:180px; 
    color:black; 
    font-size:25px;
    vertical-align:middle;
    line-height:25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height:auto;
    padding-bottom:15px;
}
